body {
margin-left: 0;
text-align: center;
font-family: verdana, sans-serif;
background-color: #f3f8ff;
}

.desktop {
width: 100%;
}

.logo {
position: absolute;
top: 2%;
left: 5%;
}

.paragraf {
font-size: 150%;
line-height: 1.5;
}

.try-it-for-free {
position: absolute;
top: 1%;
right: 5%;
 -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #01252a;
  font-size: 20px;
  background: #f3f8ff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.try-it-for-free:hover {
  background: #eeeeee;
  text-decoration: none;
}

.get-started {
position: absolute;
top: 65%;
left: 15%;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #f4f9f4;
  font-size: 40px;
  background: #ea168e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.get-started:hover {
  background: #de4383;
  text-decoration: none;
}

.div-1 {
text-align: center;
}

.insider-div {
position: absolute;
top: 15%;
left: 15%;
width: 70%;
text-align: center;
}

.mockups {
float: right;
width: 40%;
text-align: center;
}

.titlu-1 {
padding-top: 5%;
color: #3f8f8d;
}

.general{
width: 70%;
text-align: center;
margin-left: 15%;
}

.Grow {
width: 60%;
text-align: center;
}

.grow-together{
width: 45%;
float: left;
text-align: center;
}

.titlu-2 {
padding-top: 5%;
color: #3f8f8d;
}

.flow {
width: 70%;
text-align: center;
margin-left: 15%;
margin-top: 15%;
}

.flow-img {
width: 60%;
float: right;
text-align: center;
margin-top: 20%;
}

.titlu-3 {
padding-top: 35%;
color: #3f8f8d;
}

.users {
width: 70%;
text-align: center;
margin-top: 10%;
margin-left: 15%;
border-style: solid;
border-color: #eeeeee;
border-width: 2px;
}

.your-users {
width: 60%;
float: left;
}

.titlu-4 {
padding-top: 7%;
color: #3f8f8d;
}

.footer {
position: absolute;
top: 250%;
margin-top: 5%;
width: 40%;
margin-left: 30%;
border-style: solid;
border-color: #eeeeee;
border-width: 2px;
background-color: #fdfff0;
}

.get-started-2 {
position: absolute;
left: 20%;
margin-top: 1%;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #f4f9f4;
  font-size: 40px;
  background: #ea168e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.get-started-2:hover {
  background: #de4383;
  text-decoration: none;
}

.end {
height: 200px;
background-color: #40514e;
margin-top: 130px;
}

.titlu-end {
padding-top: 30px;
text-align: left;
color: #eeeeee;
}

.paragraf-end {
text-align: left;
color: #eeeeee;
}
